{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "todo/meta.html" with title="Create A Task" only %}
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Create a task
            </p>
        </div>
    </section>

    <section class="form">
        <form action="{% url 'todo:create_task' %}" method=post>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </section>

    {% include "todo/go_back.html" %}

</body>
</html>
