<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create a task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Create a task
            </p>
        </div>
    </section>

    <section class="_form">
        <form action="{% url 'read' %} method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </section>
</body>
</html>