{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "todo/meta.html" with title="Read Task" only %}
    </head>

    <body>
        {% include "todo/header.html" with title="Read Task" only %}

        <div class="block">
            <article class="message is-large is-success">
                <div class="message-body">
                    <p class="title">{{ task.title }}</p>
                    <p class="limit_date subtitle">Limit: {{ task.limit_date }}</p>
                    <p>{{ task.text }}</p>
                </div>
            </article>
        </div>

        {% include "todo/go_back.html" %}

    </body>
</html>